.container{
    background-color: aquamarine;
    text-align: center;
   align-items: center;
} 
.bodycolor{
    background-color:aquamarine;
}
button,.db{
   
    background-color: pink;
    height: 30px;
    width: 50px;
    border-radius: 6px;
}
table{
    margin: auto;
   
    width: 267px;
    border: solid rgb(100, 41, 41);
    border-radius: 6px;
}
.flex{
    display:flex;
}
.mybtn{
    width: 102px;
    background-color: pink;
    font-size: 11px;
  
}
.dropdown-menu li{
    display: inline-block;
    margin: 3px;
    text-align: center;
}
